<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-installreferrer" version="0.0.1">
   <name>InstallReferrer</name>

   <js-module name="InstallReferrer" src="www/InstallReferrer.js">
      <clobbers target="cordova.plugins.InstallReferrer" />
   </js-module>

   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="InstallReferrer">
            <param name="android-package" value="cordova.plugin.installreferrer.InstallReferrer" />
         </feature>
      </config-file>
      
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/InstallReferrer.java" target-dir="src/cordova-plugin-installreferrer/InstallReferrer" />
      <source-file src="src/android/Receiver.java" target-dir="src/cordova-plugin-installreferrer/Receiver" />

	   <config-file target="AndroidManifest.xml" parent="/manifest/application">
		   <receiver android:exported="true" android:name="cordova.plugin.installreferrer.Receiver">
            <intent-filter>
               <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
         </receiver>
      </config-file>
   </platform>
</plugin>